*.log
*.substvars
4d-picadillo-35t
4d-picadillo-35t.install
chipkit-cmod
chipkit-cmod.install
chipkit-dp32
chipkit-dp32.install
chipkit-lenny
chipkit-lenny.install
chipkit-max32
chipkit-max32.install
chipkit-mx3
chipkit-mx3.install
chipkit-pi
chipkit-pi.install
chipkit-pro-mx4
chipkit-pro-mx4.install
chipkit-pro-mx7
chipkit-pro-mx7.install
chipkit-uc32
chipkit-uc32.install
chipkit-uno32
chipkit-uno32.install
chipkit-wf32
chipkit-wf32.install
chipkit-wifire
chipkit-wifire.install
digilent-openscope
digilent-openscope.install
fubarino-mini
fubarino-mini.install
fubarino-sd
fubarino-sd.install
makerology-dsmini
makerology-dsmini.install
mikroe-clicker2
mikroe-clicker2.install
mikroe-flipnclickmz
mikroe-flipnclickmz.install
olimex-pinguino32-obl
olimex-pinguino32-obl.install
olimex-pinguino32
olimex-pinguino32.install
openbci-openbci32
openbci-openbci32.install
overtone-cui32
overtone-cui32.install
overtone-cui32stem
overtone-cui32stem.install
pontech-nofire
pontech-nofire.install
pontech-quick240
pontech-quick240.install
pontech-uav100
pontech-uav100.install
schmalzhaus-ubw32-460
schmalzhaus-ubw32-460.install
schmalzhaus-ubw32-795
schmalzhaus-ubw32-795.install
libbridge-chipkit
libbridge-chipkit
libdeipck-chipkit
libdewfck-chipkit
libdfatfs-chipkit
libdsdvol-chipkit
libdspi-chipkit
libdtwi-chipkit
libeeprom-chipkit
libethernet-chipkit
libfirmata-chipkit
libhttpserver-chipkit
libim8720phy-chipkit
libliquidcrystal-chipkit
libmrf24g-chipkit
libonewire-chipkit
libramvol-chipkit
libsd-chipkit
libservo-chipkit
libsoftpwmservo-chipkit
libsoftspi-chipkit
libsoftwareserial-chipkit
libspi-chipkit
libstepper-chipkit
libwire-chipkit
chipkit
